__pycache__/

venv/
venv311/
py311/
fresh_env/
fresh_venv/
.env
env
.coverage/
coverage/
coverage
htmlcov/
htmlcov
# remove .coverage files

*.coverage


# remove whisper package, it is hugely large and not needed for the repo, added when running for the first time
src/models/whisper

# Personal files
terminal_commands.md
